<%- include('./partials/header.ejs'); %>
    <div class="manageUser-container">
      <div id="title">
        <h2>Manage Users</h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <tr id="">
              <td class="name">
                <img src="./images/user1.png" />
                <span>User 1</span>
              </td>
              <td>email@email.com</td>
              <td class="manage">
                <img src="./images/trash.png" alt="Delete" />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <%- include('./partials/add-user-modal.ejs'); %>
  </body>
</html>
